<!DOCTYPE html>
<html>
<head>
    <title>Nmap Scanner</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>
    <h1>Nmap Scanner</h1>
    <form method="POST">
        <label for="targethost">Target Host:</label><br>
        <input type="text" id="targethost" name="targethost"><br>
        <label for="starting">Starting Port:</label><br>
        <input type="number" id="starting" name="starting"><br>
        <label for="closing">Closing Port:</label><br>
        <input type="number" id="closing" name="closing"><br>
        <input type="submit" value="Scan">
    </form>
    {% if results %}
    <h2>Results:</h2>
    <ul>
        {% for result in results %}
        <li>{{ result }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</body>
</html>
